#!{{ ansible_python['executable'] }}
#
# Copyright (C) 2022 Julien Lecomte <julien@lecomte.at>
# SPDX-License-Identifier: GPL-3.0-only
#
# {{ ansible_managed }}

from __future__ import print_function

import os

from json import loads, dumps
from sys import exit

output = {"installed": False}


def cmd_exists(cmd):
    return any(os.access(os.path.join(path, cmd), os.X_OK) for path in os.environ["PATH"].split(os.pathsep))


output["installed"] = cmd_exists("pveum")
print(dumps(output, sort_keys=True, indent=4))
